<div style="width: 100%" *ngIf="formGroup">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Header -->
            <div class="dark bg-card dark:border-b">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto sm:px-8">
                    <div class="m-5">
                        <!-- Avatar and name -->
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex flex-col min-w-0 ml-4">
                                <div class="header-font-title font-semibold tracking-tight leading-7 md:leading-10 truncate">Personal Diary App</div>
                                <div class="flex items-center">
                                    <div class="leading-5 truncate text-secondary">Home > Category</div>
                                </div>
                            </div>
                        </div>
                        <!-- Actions -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto m-7 body-color">
        <mat-card class="tab-color -mt-4">

            <div class="flex flex-col bg-card shadow rounded overflow-hidden">
                <div class="heading">
                    <h1>Add Category</h1>
                </div>

                <form [formGroup]="formGroup" class="p-8">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <mat-label style="margin-top: -15px" fxFlex="20%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="40%">Category Name<strong class="required"> *</strong>
                                </mat-label>
                                <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="80%" fxFlex.md="60%" fxFlex.sm="60%" fxFlex.xs="60%">
                                    <input matInput formControlName="name" required>
                                    <mat-error style="margin-bottom: 2px">Name is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-end mt-3 mr-2">
                        <button class="px-8 mr-2"
                                (click)="reset()"
                                mat-flat-button
                                [color]="'accent'"
                                type="button">
                            Reset
                        </button>
                        <button *ngIf="!this.formGroup.value.id"
                                (click)="onSubmit()" [disabled]="!formGroup.valid"
                                class="px-8"
                                mat-flat-button
                                color="primary"
                                type="button">
                            Save
                        </button>
                        <button *ngIf="this.formGroup.value.id"
                                (click)="onSubmit()" [disabled]="!formGroup.valid"
                                class="px-8"
                                mat-flat-button
                                color="primary"
                                type="button">
                            Update
                        </button>
                    </div>

                </form>
            </div>


            <!-- List Grid -->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="mt-5">
                <div fxFlex="30%">
                    <h1 class="header1">Category List</h1>
                </div>
                <div>
                    <mat-form-field fxFlex="100%" style="width: 300px !important;">
                        <!--<mat-label>Filter</mat-label>-->
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input/>
                        <button mat-button matPrefix mat-icon-button><mat-icon>search</mat-icon></button>
                    </mat-form-field>
                </div>
            </div>

            <div
                class="flex flex-col bg-card shadow rounded overflow-x-auto sm:overflow-y-auto">
                <!--<mat-card>-->
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bg-transparent" matSort>
                        <!-- ID Column -->
                        <ng-container matColumnDef="sl">
                            <th mat-header-cell *matHeaderCellDef class="text-alignment">Sl.</th>
                            <td mat-cell *matCellDef="let row, let i = index;">{{(i + 1) + (page * size)}}</td>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-alignment">
                                Category Name
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.name }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdOn">
                            <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    class="text-alignment">
                                Created Date
                            </th>
                            <td class="text-alignment" mat-cell *matCellDef="let row">
                                {{row.createdOn | date:'medium'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="updatedOn">
                            <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    class="text-alignment">
                                Updated Date
                            </th>
                            <td class="text-alignment" mat-cell *matCellDef="let row">
                                {{ row.updatedOn | date:'medium'}}
                            </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="buttons">
                                    <button mat-icon-button class="toggle-sidebar-folded" matTooltip="Edit" fxHide.lt-lg (click)="edit(row)"><mat-icon color="accent">edit</mat-icon></button>
                                    <button [routerLink]="['/notes/'+row.id]" mat-icon-button class="toggle-sidebar-folded" matTooltip="View Notes" fxHide.lt-lg><mat-icon color="primary" svgIcon="heroicons_outline:eye"></mat-icon></button>
                                    <button [disabled]="disableDelete" mat-icon-button class="toggle-sidebar-folded" matTooltip="Delete" fxHide.lt-lg (click)="openDialog(row)"><mat-icon color="warn">delete</mat-icon></button>
                                </div>
                            </td>
                        </ng-container>
                        <!-- Table Action Buttons End-->

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">
                                No data matching the filter "{{ input.value }}"
                            </td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [length]="total" [pageSize]="size" [pageSizeOptions]="[2, 3, 5, 10, 25, 100]" (page)="onChangePage($event)"></mat-paginator>
            </div>
        </mat-card>
    </div>
</div>


