<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img
                    class="w-20"
                    src="">
            </div>
            <!-- Components -->
            <div class="flex items-center ml-auto">
                <!--                <notifications [notifications]="data.notifications"></notifications>-->
                <!--                <user-menu [showAvatar]="true"></user-menu>-->
            </div>
        </div>
        <!-- User -->
        <div class="flex flex-col items-center w-full mb-5">
            <div class="relative w-24 h-24">
                <img
                    class="w-full h-full rounded-full"
                    src="/assets/images/avatars/signature.png"
                    alt="User avatar">
            </div>
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!--     Header-->
    <div
        class="relative flex flex-0 items-center w-full h-13 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
        style="background-color: #f1f5f9 !important;">
        <!-- Navigation toggle button -->
        <button
            mat-icon-button
            (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
        <div class="flex items-center pl-2 ml-auto space-x-2">
            <div style="width: 100%">
                <div style="display: inline-block; margin-right: 5px;vertical-align: middle;">
                    <img style="height: 40px;width: 40px;" src="assets/images/avatars/user_profile_icon.png">
                </div>
                <div style="display: inline-block;vertical-align: middle">
                    <p style="color: #0d9488">{{email}}</p>
                </div>
                <div style="display: inline-block; vertical-align: middle;">
                    <user-menu></user-menu>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative justify-center w-full px-6 pl-2 md:px-9 z-49 print:hidden"
         style="color: #000; font-weight: bold; padding: 10px; font-family: Arial;border-top: 1px solid #dbdfe5">
        <div style="float: left; margin-left: 23px;font-size: 13px;color: #333333">
            Copyright &copy; 2021, Personal Diary App.
        </div>
    </div>

</div>

<button *ngIf="pageYoffset > 0"  id="myBtn" class="backToTop" (click)="scrollToTop()">
    <mat-icon style="color: white;">eject</mat-icon>
</button>
